doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    block content

  script(src='/js/jq.js')
  script(src='/js/vendors.js')
  script(src='/js/script.js')
