doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    block content

  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  script(src='/js/jq.js')
  script(src='/js/vendors.js')
  script(src='/js/script2.js')
  

